<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>seminar2-4</title>
  </head>
  <body>
    <!-- Вы разрабатываете приложение для управления списком контактов. 
      У вас есть форма с полями "Имя", "Фамилия" и "Email", где пользователь может вводить информацию о новом контакте. 
      После добавления контакта он должен отображаться в списке контактов. 
      Требуется связать форму с данными и отображать список контактов на странице. -->

    <div id="app">
      <form @submit="addContact">
        <label for="firstName">Имя:</label>
        <input type="text" id="firstName" v-model="newContact.firstName" />

        <label for="lastName">Фамилия:</label>
        <input type="text" id="lastName" v-model="newContact.lastName" />

        <label for="email">Email:</label>
        <input type="email" id="email" v-model="newContact.email" />

        <button type="submit">Добавить контакт</button>
      </form>

      <ul>
        <li v-for="contact in contacts" :key="contact.email">
          {{ contact.firstName }} {{ contact.lastName }} - {{ contact.email }}
        </li>
      </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      new Vue({
        el: "#app",
        data: {
          newContact: {
            firstName: "",
            lastName: "",
            email: "",
          },
          contacts: [],
        },
        methods: {
          addContact: function (event) {
            event.preventDefault();
            if (this.isValidContact()) {
              this.contacts.push({
                firstName: this.newContact.firstName,
                lastName: this.newContact.lastName,
                email: this.newContact.email,
              });
              this.resetForm();
            }
          },
          isValidContact: function () {
            return (
              this.newContact.firstName.trim() !== "" &&
              this.newContact.lastName.trim() !== "" &&
              this.newContact.email.trim() !== ""
            );
          },
          resetForm: function () {
            this.newContact.firstName = "";
            this.newContact.lastName = "";
            this.newContact.email = "";
          },
        },
      });
    </script>
  </body>
</html>
