<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
        <h2>Отрисовка списков</h2>
        <ul>
            <li v-for="item in listItem" :key="item.id">{{item}}</li>
        </ul>

        <input type="text" v-model="newList" @keyup.enter="addItem">

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        new Vue({
            el: "#app",
            data: {
                listItem: [1, 2, 3, 4, 5],
                newList: '',

            },
            methods: {
                addItem() {
                    this.listItem.push(this.newList);
                },
            },

        })


    </script>
  </body>
</html>
